html {
  font-size: 62.5%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.form {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  /* justify-content: center;
  align-items: center; */
}

.reg-label {
  font-size: 16px;
}

.reg-label input {
  width: 252px;
  height: 20px;
}

.reg-label select {
  width: 260px;
  height: 20px;
}

.reg-label textarea {
  width: 254px;
  height: 60px;
}

.allergies-wrapper div {
  width: 80px;
}

.allergies-title {
  font-size: 16px;
}

.allergies-wrapper {
  background-color: #1ee7e2;
  display: flex;
  flex-wrap: wrap;
}
